@import "./_variables.sass"

body
  margin: 0
  
// // general classes START
// .absolutely-centered
//   display: flex
//   justify-content: center
//   align-items: center
// // general classes END

// #app
//   font-family: Roboto
//   -webkit-font-smoothing: antialiased
//   -moz-osx-font-smoothing: grayscale

// // HomePageHeader START
.page-header
  background: #0088D3
.page-header-text
  font-size: 36px
  color: $text-color-1
  // for PC
  // font-size: 62px
// // HomePageHeader END

// // HomePageContent START
.content-holder
  width: 300px

.step-holder
  border: 1px solid $text-color-3
  
.trader-holder
  border: 1px solid $text-color-3
.trader-image
  width: 100px
  height: 100px
  margin: 28px auto
  border-radius: 50%
  
.step-info-holder
  color: $text-color-2

// BaseForm START
.form
  background-color: $text-color-2
  margin: 50px 0
  padding: 23px 17.5px
.form-header
  font-size: 22px
  color: $text-color-1
  padding: 23px 15px 17px
.form-control
  margin: 15px 0

// BaseForm END


@media (min-width: $min-mobile-portrait-width) and (max-width: $min-tablet-portrait-width - 1)
  .page-header
    height: 320px
  .hidden
    display: none
  .content-header
    width: 235px
    height: 126px
    color: $text-color-2
    font-size: 22px
    
  // $step-holder-height: 160px
  // $triangle-font-size: 50px
  // $magic-number-for-top: 8px
  // $triangle-top: calc( #{$step-holder-height} - (#{$magic-number-for-top} * #{$triangle-font-size / 10px}) )
  .step-holder
    // height: $step-holder-height
    height: 150px
    position: relative
    padding: 32px 27px
    &::after
      content: "\25E2"
      position: absolute
      // top: $triangle-top
      top: 69px
      left: 111px
      // font-size: $triangle-font-size
      font-size: 100px
      color: #FFD600
      transform: rotate(45deg)
      z-index: 1
    &:last-child
      &::after
        content: ""
  .window-divider
    margin-bottom: 14px
    &:last-child
      margin-bottom: 0
  .step-number
    font-size: 85px
    color: $text-color-2
    margin-right: 18px
  .step-header
    font-size: 20px
  .step-content
    font-size: 14px
  .trader-header, .trader-quote
    width: 280px
  .trader-header
    font-size: 16px
  .trader-quote
    font-size: 14px
  